.btn{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(238, 156, 186);
    padding: 1rem;
    width: 45%;
    margin: 1rem;
}

.btn:hover{
    background-color: rgb(241, 209, 221);
    color: rgb(68, 62, 64)
}