.card{
    background-color: white;
    height: 100vh;
    width: 75vw;
    border-radius: 5px;;
    flex-flow: wrap;
    margin: 10% 0;
}

.btn-container{
    display: flex;
}

@media (min-width: 750px){
    .card{
        width: 50vw
    }
}