.person-container{
    display: flex;
    padding: .5rem;
    margin: .5rem;
    max-width: 100%;
}

.person-container:hover{
    background-color: rgb(230, 230, 230);
    box-shadow: .35rem .5rem rgb(220, 220, 220);
}

.photo{
    border: solid black;  
    object-fit: cover;
    height: 125%;
    width: 125%;
}

.photo-container{
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 75px;
    height: 75px;
    box-shadow: .2rem .3rem .2rem rgb(200, 200, 200);
}

.content{
    flex: 2;
}

.name{
    color: rgb(30, 30, 80);
    font-size: 1rem;
    letter-spacing: .15rem;
}

.age{
    color: rgb(120, 120, 120);
    letter-spacing: .1rem;
}

.delete{
    color:rgb(238, 156, 186);
    align-self: center;
    position: relative;
    right: 0;
    cursor: pointer;
    font-size: 1.25rem;
}

.delete:hover{
    transform: scale(1.1);
    color: red;
}

@media (min-width: 790px){
    .delete{
        font-size: 1.5rem;
    }
}